{% extends "base.html" %}
{% block head %}
<title>driver's license</title>
<meta name="description" content="Ephemeral's songs page">
<meta name="author" content="Jake Goins">
<link href="../../static/css/style.css" rel="stylesheet">
{% endblock %}

{% block nav_title %}
<a class="navbar-brand" href="#">Top Songs</a>
{% endblock %}

{% block nav_bar %}
<li class="nav-item">
    <a class="nav-link" href="{{url_for('index')}}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link " href="{{url_for('artists')}}">Artists</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{url_for('songs')}}">Songs</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{url_for('albums')}}">Albums</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{url_for('about')}}">About Us</a>
</li>
{% endblock %}

{% block content %}

<div class="container">
    <br>
    <div class="row">
        <div class="col-12 center-text">
            <h2>{{songs["driver's license"].name}}</h2>
            <table class="center-table boxed">
                <tr>
                    <td style="padding-top: 15px;" class="static_item">Artist: </td>
                    <td style="padding-top: 15px;" class="static_item">{{songs["driver's license"].artist.name}}</td>
                </tr>
                <tr>
                    <td class="static_item">Album: </td>
                    <td class="static_item">{{songs["driver's license"].album.name}}</td>
                </tr>
                <tr>
                    <td class="static_item">Release Date: </td>
                    <td class="static_item">{{songs["driver's license"].release}}</td>
                </tr>
                <tr>
                    <td class="static_item">Song Length: </td>
                    <td class="static_item">{{songs["driver's license"].length}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}