{% extends "base.html" %}
{% block head %}
<title>Save Your Tears</title>
<meta name="description" content="Ephemeral's songs page">
<meta name="author" content="Jake Goins">
<link href="../../static/css/style.css" rel="stylesheet">
{% endblock %}

{% block nav_title %}
<a class="navbar-brand" href="#">Top Songs</a>
{% endblock %}

{% block nav_bar %}
<li class="nav-item">
    <a class="nav-link" href="{{url_for('index')}}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link " href="{{url_for('artists')}}">Artists</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{url_for('songs')}}">Songs</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{url_for('albums')}}">Albums</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{url_for('about')}}">About Us</a>
</li>
{% endblock %}

{% block content %}

<div class="container">
    <br>
    <div class="row">
        <div class="col-12 center-text">
            {% set song = songs["Save Your Tears"] %}
            <h2>{{song.name}}</h2><br>
            <table class="center-table greyed">
                <tr>
                    <td class="static_item">Artist: </td>
                    <td class="static_item point" onclick="window.location.href='{{url_for('artist2')}}';">{{song.artist.name}}</td>
                </tr>
                <tr>
                    <td class="static_item">Album: </td>
                    <td class="static_item point"  onclick="window.location.href='{{url_for('album2')}}';"">{{song.album.name}}</td>
                </tr>
                <tr>
                    <td class="static_item">Release Date: </td>
                    <td class="static_item">{{song.release}}</td>
                </tr>
                <tr>
                    <td class="static_item">Song Length: </td>
                    <td class="static_item">{{song.length}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <a class="center-text" href="{{url_for('songs')}}"> Return to songs list </a>
    </div>
</div>

{% endblock %}