{% extends "base.html" %}
{% block head %}
<title>About Us</title>
<meta name="description" content="Ephemeral: about us">
<meta name="author" content="Jake Goins">
{% endblock %}

{% block nav_title %}
<a class="navbar-brand" href="#">About Us</a>
{% endblock %}

{% block nav_bar %}
<li class="nav-item">
    <a class="nav-link" href="{{url_for('index')}}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{url_for('artists')}}">Artists</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{url_for('songs')}}">Songs</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{url_for('albums')}}">Albums</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{url_for('about')}}">About Us</a>
</li>
{% endblock %}

{% block content %}
<h1 class="about_title"> Meet the Creators </h1>
<div id="about" class="container">
    <div class="row">
        <div class="col-6">
            <img id="about_img" src="../static/images/jake.jpg" alt="Jake">
            <h3>Jake Goins</h3>
            <div class="bio">
                <h6>About</h6>
                <p>Hello! My name is Jake, and I am currently studying General Geology as a senior at the University of Texas, Austin.
                My interests include computational seismology, web development, and software engineering.</p>
                <h6>Responsibilities</h6>
                <ul>
                    <li>Project lead</li>
                    <li>Frontend developer</li>
                    <li>GitLap repo manager</li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <img id="about_img" src="../static/images/kanishak.jpg" alt="Kanishak">
            <h3>Kanishak Joshi</h3>
            <div class="bio">
                <h6>About</h6>
                <p>I am a senior mechanical engineering major.
                    I like history, science and like to watch documentaries.</p>
                <h6>Responsibilities</h6>
                <ul>
                    <li>Backend developer</li>
                    <li>Google Cloud deployment manager</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <img id="about_img" src="../static/images/kanishak.jpg" alt="Kanishak">
            <h3>Khue Tran</h3>
            <div class="bio">
                <h6>About</h6>
                <p>.</p>
                <h6>Responsibilities</h6>
                <ul>
                    <li>Backend developer</li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <img id="about_img" src="../static/images/kanishak.jpg" alt="Kanishak">
            <h3>Max Zhou</h3>
            <div class="bio">
                <h6>About</h6>
                <p></p>
                <h6>Responsibilities</h6>
                <ul>
                    <li>Frontend developer</li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<h1 class="about_title"></h1>
{% endblock %}}