{% extends "base.html" %}
{% block head %}
<title>Albums</title>
{% endblock %}

{% block content %}


<div class="container">
    <br>
    <h2>Albums</h2>
    <p>A list of top albums and singles!</p>            
    <table id="table" class="table table-striped table-bordered table-sm table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class = "th-sm">Album Name</th>
          <th class = "th-sm">Album Release Date</th>
          <th class = "th-sm">Album Artist</th>
          <th class = "th-sm">Type</th>
          <th class = "th-sm">Genre</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>driver's license</td>
          <td>2021/01/08</td>
          <td>Olivia Rodrigo</td>
          <td>Single</td>
          <td>Pop</td>
        </tr>
        <tr>
          <td>After Hours</td>
          <td>2020/03/20</td>
          <td>The Weeknd</td>
          <td>LP</td>
          <td>R&b/Soul</td>
        </tr>
        <tr>
          <td>Love Scars: The 5 Stages of Emotions</td>
          <td>2020/10/02</td>
          <td>Yung Bleu</td>
          <td>EP</td>
          <td>R&b</td>
        </tr>
      </tbody>
    </table>
  </div>

  {% endblock %}