{% extends "base.html" %}
{% block head %}
<title>About Us</title>
<meta name="description" content="Ephemeral: about us">
<meta name="author" content="Jake Goins">
{% endblock %}

{% block nav_title %}
<a class="navbar-brand">About Us</a>
{% endblock %}

{% block nav_bar %}
<li class="nav-item">
    <a class="nav-link" href="{{url_for('index')}}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{url_for('artists')}}">Artists</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{url_for('songs')}}">Songs</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{url_for('albums')}}">Albums</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{url_for('about')}}">About Us</a>
</li>
{% endblock %}

{% block content %}
<h1 class="about_title"> Meet the Creators </h1>
<div id="about" class="container">
    <div class="row">
        <div class="col-6 boxed">
            <img id="about_img" src="../static/images/jake.jpg" alt="Jake">
            <h3>Jake Goins</h3>
            <div>
                <h6>About</h6>
                <p>Hello! My name is Jake, and I am currently studying General Geology as a senior at the University of
                    Texas, Austin. My interests include computational seismology, web development,
                    and software engineering.</p>
                <h6>Responsibilities</h6>
                <ul class="about_list">
                    <li>Project lead</li>
                    <li>Frontend developer</li>
                    <li>GitLab repo and Slack administrator</li>
                </ul>
                <br>
                <p>Site URL: <a href="https://www.cs.utexas.edu/users/jakeg/" target="_blank" rel="noopener noreferrer">cs.utexas.edu/users/jakeg</a></p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/jake-goins-706285206/" target="_blank" rel="noopener noreferrer">linkedin.com/in/jake-goins</a></p>
            </div>
        </div>
        <div class="col-6 boxed">
            <img id="about_img" src="../static/images/kanishak.jpg" alt="Kanishak">
            <h3>Kanishak Joshi</h3>
            <div>
                <h6>About</h6>
                <p>I am a senior mechanical engineering major.
                    I like history, science and like to watch documentaries.</p>
                <h6>Responsibilities</h6>
                <ul class="about_list">
                    <li>Backend developer</li>
                    <li>Google Cloud Platform deployment manager</li>
                </ul>
                <br>
                <p>Site URL: <a href="https://www.cs.utexas.edu/users/kanjos99/" target="_blank" rel="noopener noreferrer">cs.utexas.edu/users/kanjos99/</a></p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/kanishak-joshi-3b8364151/" target="_blank" rel="noopener noreferrer">linkedin.com/in/kanishak-joshi/</a></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 boxed">
            <img id="about_img" src="../static/images/grant.jpg" alt="Grant">
            <h3>Grant Qian</h3>
            <div>
                <h6>About</h6>
                <p>Hi! My name is Grant and I'm a senior at the University of Texas at Austin studying economics.
                    In my free time I enjoy playing tennis and basketball.</p>
                <h6>Responsibilities</h6>
                <ul class="about_list">
                    <li>Full stack developer</li>
                    <li>API manager</li>
                </ul>
                <br>
                <p>Site URL: <a href="https://www.cs.utexas.edu/~gqian/" target="_blank" rel="noopener noreferrer">cs.utexas.edu/~gqian/</a></p>
            </div>
        </div>
        <div class="col-6 boxed">
            <img id="about_img" src="../static/images/khue.png" alt="Khue">
            <h3>Khue Tran</h3>
            <div>
                <h6>About</h6>
                <p>I’m a senior math and neuroscience major.
                    My research interests are in computational neuroscience, specifically looking at neural
                    computations that give rise to our sensory perception.
                    I like warm noodle soups and cats.</p>
                <h6>Responsibilities</h6>
                <ul class="about_list">
                    <li>Backend developer</li>
                    <li>Lead Flask developer</li>
                </ul>
                <br>
                <p>Site URL: <a href="https://www.cs.utexas.edu/~khuetran/" target="_blank" rel="noopener noreferrer">cs.utexas.edu/~khuetran/</a></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 boxed center-table">
            <img id="about_img" src="../static/images/max.jpg" alt="Max">
            <h3>Max Zhou</h3>
            <div>
                <h6>About</h6>
                <p>I'm a junior in Electrical and Computer Engineering. I've grown up all around Texas, from Dallas to
                    Houston to college in Austin. My hobbies include reading and playing video games.</p>
                <h6>Responsibilities</h6>
                <ul class="about_list">
                    <li>Lead frontend developer</li>
                    <li>Discord administrator</li>
                </ul>
                <br>
                <p>Site URL: <a href="https://www.cs.utexas.edu/users/maxz/" target="_blank" rel="noopener noreferrer">cs.utexas.edu/users/maxz/</a></p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/maxzhouece/" target="_blank" rel="noopener noreferrer">linkedin.com/in/maxzhouece/</a></p>
            </div>
        </div>
    </div>
</div>

<h1 class="about_title">GitLab Stats</h1><br>
<div class="container">
    <div class="row" style="margin-bottom: 20px">
        <div class="col center-text boxed tiny-box">
            <p>No. of Commits:</p>
            <h4>96</h4>
        </div>
        <div class="col center-text boxed tiny-box">
            <p>No. of Issues:</p>
            <h4>35</h4>
        </div>
        <div class="col center-text boxed tiny-box">
            <p>No. of Unit Tests</p>
            <h4>9</h4>
        </div>
    </div>

    <div class="row">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary col-3 center-table" data-bs-toggle="modal" data-bs-target="#exampleModal">
            View Unittest Results
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                        .........<br>
                        ----------------------------------------------------------------------<br>
                        Ran 9 tests in 0.209s<br>
                        <br>
                        OK<br>
                        Name                                                                    Stmts   Miss  Cover   Missing<br>
                        -----------------------------------------------------------------------------------------------------<br>
                        models.py                                                                  38      0   100%<br>
                        test.py                                                                    88      0   100%<br>
                        -----------------------------------------------------------------------------------------------------<br>
                        TOTAL                                                                     126      0   100%<br>
                        <br>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <table class="center-text center-table">
        <tr>
            <td>Issue Tracker:</td>
            <td><a href="https://gitlab.com/jakegoins/cs331eproject/-/issues" target="_blank" rel="noopener noreferrer">https://gitlab.com/jakegoins/cs331eproject/-/issues</a></td>
        </tr>
        <tr>
            <td>Repo:</td>
            <td><a href="https://gitlab.com/jakegoins/cs331eproject/-/tree/master" target="_blank" rel="noopener noreferrer">https://gitlab.com/jakegoins/cs331eproject/-/tree/master</a></td>
        </tr>
        <tr>
            <td>Wiki:</td>
            <td><a href="https://gitlab.com/jakegoins/cs331eproject/-/wikis/home" target="_blank" rel="noopener noreferrer">https://gitlab.com/jakegoins/cs331eproject/-/wikis/home</a></td>
        </tr>
        <tr>
            <td>Speaker Deck:</td>
            <td><a href="https://speakerdeck.com/jakegoins/ephemeral-presentation" target="_blank" rel="noopener noreferrer">https://speakerdeck.com/jakegoins/ephemeral-presentation</a></td>
        </tr>
    </table>
</div>

<br><h1 class="about_title">Data Sources</h1><br>
<table id="sources" class="center-text center-table">
    <th id="itunes">Billboard</th>
    <tr>
        <td>https://billboard2.p.rapidapi.com/hot_100</td>
    </tr>
    <tr>
        <td>https://billboard2.p.rapidapi.com/artist_100</td>
    </tr>
    <tr>
        <td>https://billboard2.p.rapidapi.com/billboard_200</td>
    </tr>
    <tr><td><br></td></tr>
    <th>Spotify Charts</th>
    <tr>
        <td>https://api.spotify.com/v1/search</td>
    </tr>
    <tr>
        <td>https://api.spotify.com/v1/artists</td>
    </tr>
    <tr><td><br></td></tr>
    <th>The AudioDB</th>
    <tr>
        <td id="shazam">https://theaudiodb.p.rapidapi.com/searchtrack.php</td>
    </tr>
</table>

<br><h1 class="about_title">Tools Used</h1><br>
<div class="container">
    <div class="row greyed">
        <div class="col center-text no-line">
            <ul class="about_list">
                <li><a href="https://getbootstrap.com/" target="_blank" rel="noopener noreferrer">Bootstrap</a> </li>
                <li><a href="https://discord.com/" target="_blank" rel="noopener noreferrer">Discord</a></li>
                <li><a href="https://flask.pocoo.org/" target="_blank" rel="noopener noreferrer">Flask</a></li>
            </ul>
        </div>
        <div class="col center-text no-line">
            <ul class="about_list">
                <li><a href="https://www.git-scm.com/" target="_blank" rel="noopener noreferrer">Git</a></li>
                <li><a href="https://gitlab.com/" target="_blank" rel="noopener noreferrer">GitLab</a></li>
                <li><a href="https://www.elephantsql.com/" target="_blank" rel="noopener noreferrer">ElephantSQL</a></li>
            </ul>
        </div>
        <div class="col center-text no-line">
            <ul class="about_list">
                <li><a href="https://jinja.pocoo.org/" target="_blank" rel="noopener noreferrer">Jinja</a> </li>
                <li><a href="https://cloud.google.com/?" target="_blank" rel="noopener noreferrer">Google Cloud Platform</a></li>
                <li><a href="https://www.postgresql.org/" target="_blank" rel="noopener noreferrer">PostgreSQL</a></li>
            </ul>
        </div>
        <div class="col center-text no-line">
            <ul class="about_list">
                <li><a href="https://pypi.org/project/psycopg2/" target="_blank" rel="noopener noreferrer">Psycopg2</a> </li>
                <li><a href="https://slack.com/" target="_blank" rel="noopener noreferrer">Slack</a></li>
                <li><a href="https://www.sqlalchemy.org/" target="_blank" rel="noopener noreferrer">SQL-Alchemy</a></li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}}
