{% extends "base.html" %}
{% block head %}
<title>Ephemeral</title>
<meta name="description" content="Ephemeral: hottest tracks from around the top music charts">
<meta name="author" content="Jake Goins, Kanishak Joshi, Khue Tran, Max Zhou">
{% endblock %}

{% block nav_title %}
<a class="navbar-brand" href="#">Home</a>
{% endblock %}

{% block nav_bar %}
<li class="nav-item">
	<a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{url_for('artists')}}">Artists</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{url_for('songs')}}">Songs</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{url_for('albums')}}">Albums</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{url_for('about')}}">About Us</a>
</li>
{% endblock %}

{% block content %}

{% endblock %}}