{% extends "base.html" %}
{% block head %}
<title>Songs</title>
<meta name="description" content="Ephemeral's songs page">
<meta name="author" content="Max Zhou">
<script type="text/javascript" language="javascript" src="../static/js/tables.js"></script>
{% endblock %}

{% block nav_title %}
<a class="navbar-brand" href="#">Top Songs</a>
{% endblock %}

{% block nav_bar %}
<li class="nav-item">
  <a class="nav-link" href="{{url_for('index')}}">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link " href="{{url_for('artists')}}">Artists</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="{{url_for('songs')}}">Songs</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{url_for('albums')}}">Albums</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{url_for('about')}}">About Us</a>
</li>
{% endblock %}

{% block content %}

<div class="container">
    <br>
    <h2>Songs</h2>
    <p>Popular songs and related info!</p>            
    <table id="table" class="table table-striped table-bordered table-sm table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class = "th-sm">Song Name</th>
          <th class = "th-sm">Artist</th>
          <th class = "th-sm">Album</th>
          <th class = "th-sm">Release Date</th>
          <th class = "th-sm">Song Length</th>
        </tr>
      </thead>
      <tbody>
        {%for song in songs%}
          <tr>
            <td class="point" onclick="window.location.href='/songs/{{ song }}'">{{songs[song]['name']}}  </td>
            <td class="point" onclick="window.location.href='/albums/{{ songs[song]['album']['link'] }}'">{{ songs[song]['album']['name'] }}</td>
            <td class="point" onclick="window.location.href='/artists/{{ songs[song]['artist']['link'] }}'">{{ songs[song]['artist']['name'] }}</td>
            <td>{{songs[song]['release']}}</td>
            <td>{{songs[song]['length']}}</td>
            
          </tr>
        {% endfor %}
       
      </tbody>
    </table>
  </div>

{% endblock %}